{% extends 'main.html' %}
{% block content %}
    <div id = "home_info">
    This site is dedicated to vinyl records collectors. It's
    main idea is to let collectors digitize their collection and
    be able to sell/buy records from/to other users.
    <p>In the future it will allow to get data from Discogs.com API and
    merge collections according to Discogs setup. This way the app will
    allow local groups (fe. social media pages dedicated to certain genre of music) to trade records within the community using their
    Discogs collection.</p>
    Feel free to checkout open to public market which shows albums our users are offering.</div>
{% endblock %}